<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <context:component-scan base-package="com.solinor.wagesystem.*"/>

    <context:property-placeholder location="classpath:wageCalculation.properties"/>

    <bean id="RegularHourWageCalculator" class="com.solinor.wagesystem.calculation.RegularHourWageCalculator">
        <constructor-arg index="0" value="${regular.start.hour}"/>
        <constructor-arg index="1" value="${regular.start.minutes}"/>
        <constructor-arg index="2" value="${regular.end.hour}"/>
        <constructor-arg index="3" value="${regular.end.minutes}"/>
        <constructor-arg index="4" value="${regular.hourly.wage}"/>
    </bean>

    <bean id="EveningWorkWageCalculator" class="com.solinor.wagesystem.calculation.EveningWorkWageCalculator">
        <constructor-arg index="0" value="${regular.start.hour}"/>
        <constructor-arg index="1" value="${regular.start.minutes}"/>
        <constructor-arg index="2" value="${regular.end.hour}"/>
        <constructor-arg index="3" value="${regular.end.minutes}"/>
        <constructor-arg index="4" value="${regular.hourly.wage}"/>
        <constructor-arg index="5" value="${evening.compensation}"/>
    </bean>

    <bean id="OverTimeCompensationCalculator" class="com.solinor.wagesystem.calculation.OverTimeCompensationCalculator">
        <constructor-arg index="0" value="${regular.work.hours}"/>
        <constructor-arg index="1" value="${regular.hourly.wage}"/>
    </bean>
</beans>
